@media screen and (max-width:767px){
body{
  background: black;
  margin:0 auto;
  height:100%;
  background:url(./sozai/bgmailform2.png)center top;
  background-size:cover;
  background-attachment: fixed;
  height: 100%;
}
p{
  color:white;
}
#main{
  width:100%;
  height:100%;
}
#main_s {
  text-align: center;
}
#main_s img {
  margin-top:33%;
  width:13%;
}
#sub{
  float:left;
  width:100%;
}
#sub_s p {
  height:90%;
  margin-top: 75%;
  margin-left: 30px;
  color:#F2F2F2;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
td{
  color:#F2F2F2;
  padding-left: 10%;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
table{
  margin-top:5%;
  width:90%;
  margin-bottom: 20%;
}
input,
textarea{
  padding:0;
  width:100%;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
margin-bottom:8px;
}
input:focus {
  border:solid 1px white;
  outline: 0;
  padding:0;
  margin:0;
}
textarea:focus{
  border:solid 1px white;
  outline: 0;
  width:100%;
  padding:0;
  margin:0;
}
td a{
  padding: 0.1em;
font-weight: bold;
border: solid 1px #FFF;
width:20%;
text-align: center;
margin-left:80%;
position:absolute;
right:11%;
-webkit-box-shadow: 1.5px 1.5px 0 #FFF;
}

td a:hover{
  padding: 0.1em;
font-weight: bold;
border:none;
width:20%;
text-align: center;
color:#000;
background-color: white;
margin-left:80%;
position:absolute;
right:11%;
-webkit-box-shadow: 1.5px 1.5px 0 #FFF;
}
}
