@media screen and (max-width:767px){

body{
  background: black;
  margin:0 auto;
  height:100%;
  background:url(./sozai/bgabout.png)center top;
  background-attachment: fixed;
  background-size:cover;
}
p{
  color:white;
}
content{
  margin:0 auto;
}
#main{
  width:100%;
  background-color:none;
  height: auto;
  min-height: 100%;
  margin:0 auto;
}
#main_s {
  margin:0 auto;
  width:100%;
  text-align: center;
}
#main_s img {
  width: 70%;
  padding-top: 30%;
  padding-bottom:0;
  padding-left:0;
  padding-right: 0;
}
#middle{
  background-color:none;
  position: absolute;
top: 0;
   text-align: center;
   display:none;
}
#middle_s {
}
#middle_s img {
}
#sub{
  width:100%;
  background-color:rgba(0,0,0,0.7);
  height: auto;
  padding-top:5%;
  padding-bottom: 5%;
}
#sub_s {
  height:100%;
}
#sub_s p {
  width:80%;
  margin-left: 10%;
  font-size: 100%;
  color:#F2F2F2;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
}
